@import('reset.styl')
global-reset()
#mask
	height:100%
	width:100%
	position:absolute
	top:0
	left:0
	background-color:#000
	display:none
	opacity: 0.5
#searchTip
	height:800px
	width:980px
	position:absolute
	left:50%
	margin-left:-490px
	display:none
#searchTip div
	position:absolute
	display:none
#searchTip div a
	position:absolute
	width:95px
	height:32px
	text-indent:-9999px
	overflow:hidden
	cursor:pointer
#searchTip div span
	position:absolute
	width:30px
	height:30px
	text-indent:-9999px
	overflow:hidden
	cursor:pointer
.stepA
	width:745px
	height:349px
	

	
	
