@import('reset.styl')
global-reset()
body
	background: url('../images/body.png') center top
	height:100%
#mask
	height:100%
	width:100%
	position:absolute
	top:0
	left:0
	background-color:#000
	display:none
	opacity: 0.5
#searchTip
	height:800px
	width:980px
	position:absolute
	left:50%
	margin-left:-490px
	display:none
#searchTip div
	position:absolute
	display:none
#searchTip div a
	position:absolute
	width:95px
	height:32px
	text-indent:-9999px
	overflow:hidden
	cursor:pointer
#searchTip div span
	position:absolute
	width:30px
	height:30px
	text-indent:-9999px
	overflow:hidden
	cursor:pointer
.stepA
	width:745px
	height:349px
	background:url('../images/guide11.png')
	top:131px
	left:-9px
	span
		top:144px
		left:683px
	a
		top:231px
		left:490px	
.stepB
	width:647px
	height:405px
	top:2px
	left:324px	
	background:url('../images/guide21.png')
	span
		top:196px
		right:285px
	a
		top:308px
		left:146px
				
.stepC
	width:654px
	height:257px
	top:294px
	left:318px
	background:url('../images/guide31.png')
	span
		top:44px
		right:35px
	a
		top:156px
		left:406px
.stepD
	width:558px
	height:348px
	top:78px
	left:155px	
	background:url('../images/guide41.png')
	span
		top:135px
		right:35px
	a
		top:246px
		left:304px
.stepE
	width:397px
	height:342px
	top:79px
	left:250px
	background:url('../images/guide51.png')
	a
		top:245px
		left:153px
				
	

	
	
